.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp9728585.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
  }