.Navbar {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-image: url(https://wallpapercave.com/wp/wp9728585.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__usuario {
        font-size: 2rem;
        font-weight: 700;
        color: #000;
        
    }

}
